<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="app">
<head>
    <!-- replace with application css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">

    <!-- jQuery / Bootstrap scripts -->
    <script src="/ng/components/jquery/jquery.min.js"></script>
</head>
<body>

<!-- Markup -->
<div x-passive-messenger></div>

<!-- Scripts -->
    <!-- Angular -->
    <script src="/ng/components/angular/angular.min.js"></script>
    <script src="/ng/components/angular-sanitize/angular-sanitize.min.js"></script>
    <!-- CS Utilities -->
    <script src="/ng/components/cs-angular-utilities/loading.js"></script>
    <script src="/ng/components/cs-angular-utilities/pubsub.js"></script>
    <script src="/ng/components/cs-angular-utilities/modal.js"></script>
    <script src="/ng/components/cs-angular-utilities/passive-messenger.js"></script>
    <link rel="stylesheet" href="/ng/components/cs-angular-utilities/passive-messenger.css" type="text/css">
    <!-- Application Code -->
    <script src="/ng/app.js"></script>
</body>
</html>
